.form {
  display: flex;
}

.section {
  margin: 20px 200px;
}

.country {
  width: 100%;
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
}

.section button {
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
}
